@import url('https://fonts.googleapis.com/css?family=Poppins:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Molle:400i");


body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
    letter-spacing: 30px;
	color: rgb(0, 251, 255);

	background: black;
	overflow: hidden;
	filter: drop-shadow(0 0 50px white);
}


.container {
	filter: url('#gooey');
	display: flex;
	justify-content: center;
	align-items: center;
}

.liquid-1 {
	position: relative;
}


span {
	letter-spacing: 20px;
	font-size: 8rem;
}


.drop {
	position: absolute;
	background:rgb(255, 255, 255);
	width: 22px;
	height: 22px;
	border-radius: 60% 70% 50% 60% / 65% 66% 60% 65%;
	animation: 6s move ease infinite;
}

.drop:after {
	width: 17px;
	height: 17px;
	content: '';
	position: absolute;
	background: rgb(255, 255, 255);
	border-radius: 50% 60% 60% 70% / 60% 65% 65% 65%;
	left: 25px;
	top: 3px;
	animation: 6s drop_effect ease infinite;
}

svg {
	position: absolute;
}

@keyframes move {
	0%, 100% {
		transform: translate(370px);
	}
	
	50% {
		transform: translate(-370px);
	}
}

@keyframes drop_effect {
	0% {
		left: 0px;
	}
	5% {
		left: 35px;
	}
	45% {
		left: 0px;
	}
	50% {
		left: 0px;
	}
	55% {
		left: -30px;
	}
	95% {
		left: 0px;
	}
	100% {
		left: 0;
	}
}

.tabcontent{
	transition: all 1s linear;
  	display: block;
}

.hidden {
	display: none;
  }
  
  .visuallyhidden {
	opacity: 0;
  }
  

  #snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}
.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }



